.app {
  background: #eee;
  min-height: 100vh;
  .main-container {
    max-width: 500px;
    margin: auto;
    background: #fff;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    .curr-word-bar {
      background-color: red;
      padding: 0px 20px;
      display: flex;
      align-items: center;
      min-height: 60px;
      .word {
        color: #fff;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.5);
        padding: 7px;
        text-align: center;
        margin: 0 10px 0 0;
        text-transform: capitalize;
        letter-spacing: 3px;
      }
    }
    .indication {
      padding: 0 30px;
      margin: 30px 0 30px 0;
      h1 {
        color: red;
        font-size: 3rem;
        margin-bottom: 20px;
      }
      .bar-cont {
        width: 100%;
        min-height: 20px;
        background: #eee;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        .bar {
          position: absolute;
          left: 0;
          height: 100%;
          background: red;
        }
      }
    }
    .letters {
      margin-top: 0px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .letter-wrap {
        padding: 10px 0;
        width: 19%;
        text-align: center;
        .letter {
          cursor: pointer;
          display: block;
          margin: auto;
          width: 60px;
          height: 60px;
          border: 2px solid red;
          color: red;
          font-weight: bold;
          border-radius: 200px;
          font-size: 1.3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
        }
        .letter-inv {
          color: #fff;
          background: red;
        }
      }
    }
    .words {
      margin-top: 50px;

      .word-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        margin-bottom: 30px;
        .word {
          font-size: 1.5rem;
          padding-bottom: 10px;
          border-bottom: 2px dashed #000;
          font-weight: bold;
          text-transform: capitalize;
        }
        .word-length {
          padding: 10px;
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background: red;
          border-radius: 200px;
          width: 40px;
          height: 40px;
          color: #fff;
        }
      }
    }
    .design {
      position: absolute;
      bottom: 0;
      width: 80%;
      left: 50%;
      transform: translate(-50%, 50%);
      img {
        width: 100%;
        z-index: -1;
      }
    }
    .win-container {
      width: 100%;
      height: 100%;
      margin: auto;
      position: absolute;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 5;
      .content {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 80%;
        position: absolute;
        background: rgb(1, 190, 1);
        padding: 30px 0;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
        h2 {
          margin-bottom: 30px;
          color: #fff;
          font-size: 4rem;
        }
        button {
          border: none;
          background: #fff;
          color: rgb(1, 190, 1);
          font-weight: bold;
          padding: 15px 40px;
          font-size: 1.1rem;
          cursor: pointer;
        }
      }
    }
    .notifier {
      min-height: 60px;
      position: absolute;
      display: flex;
      align-items: center;
      padding: 0 30px;
      top: 0;
      width: 100%;
      z-index: 5;
      color: #fff;
      background-color: rgb(1, 190, 1);
      span {
        font-weight: bold;
        margin: 0 10px 0 0;
      }
      .word {
        color: #fff;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.5);
        padding: 7px;
        text-align: center;
        margin: 0 10px 0 0;
        text-transform: capitalize;
        letter-spacing: 3px;
      }
    }
  }
}

@media (max-width: 500px) {
  .app {
    .main-container {
      .indication {
        margin: 15px 0;
      }
      .letters {
        .letter-wrap {
          .letter {
            width: 50px;
            height: 50px;
          }
        }
      }
      .words {
        margin-top: 30px;
        .word-wrap {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .app {
    .main-container {
      .indication {
        margin: 12px 0;
        h1 {
          margin-bottom: 15px;
        }
      }
      .letters {
        .letter-wrap {
          padding: 7px 0;
          .letter {
            width: 40px;
            height: 40px;
          }
        }
      }
      .words {
        margin-top: 20px;
        .word-wrap {
          margin-bottom: 15px;
        }
      }
    }
  }
}

@media (max-width: 350px) {
  .app {
    .main-container {
      .indication {
        margin: 10px 0;
        h1 {
          margin-bottom: 12px;
        }
      }
      .letters {
        .letter-wrap {
          .letter {
            width: 30px;
            height: 30px;
          }
        }
      }
      .words {
        .word-wrap {
          margin-bottom: 10px;
        }
      }
    }
  }
}
